.time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #34495e;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}
.centerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-picker h3 {
  color: #ecf0f1;
  margin-bottom: 15px;
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 16px;
  width: 100%;
}

.time-slot {
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.time-slot.available {
  background-color: #2ecc71;
  color: #fff;
}

.time-slot.unavailable {
  background-color: #e74c3c;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.6;
}

.time-slot.selected {
  background-color: #9b59b6;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.time-slot:hover:not(.unavailable) {
  transform: scale(1.1);
}

/* Form Enhancements */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34495e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
  width: 100%;
  text-align: center
}

label {
  display: block;
  margin-bottom: 5px;
  color: #bdc3c7;
  font-weight: bold;
}

input[type="text"], input[type="checkbox"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: calc(100% - 20px);
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Center the react-calendar navigation */
.react-calendar__navigation {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.react-calendar__tile--active {
  background-color: #74ce0e;
  color: #fff;
}

.react-calendar__tile--now {
  background-color: #66882b;
  color: #fff;
}

/* .react-calendar__tile--range {
  background-color: #777;
  color: #fff;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #888;
  color: #fff;
} */