/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #2c3e50; /* Modern dark background */
    color: #ecf0f1; /* Soft light text for contrast */
    font-family: 'Poppins', Arial, sans-serif; /* New font applied */
    margin: 0;
    padding: 0;
}
label {
    text-align: center;
}

h1, h2 {
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

button {
    background-color: #3498db; /* Modern blue tone */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    font-family: 'Poppins', Arial, sans-serif;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.time-picker {
    font-family: 'Poppins', Arial, sans-serif;
}
/* Calendar Styles */
.react-calendar__month-view__days__day {
    flex-basis: 13.28%; /* Ensure each day takes up 1/7th of the row */
    max-width: 13.28%;
}
